h1,.title{
  width:100%;
  font-family:tahnoma;
  text-align:center;
  color:brown;
  margin-bottom:20px;  
  padding: 0 15 0 0;
  margin:lem auto;
}
body{
  background-color:rgba(122,56,89,0.4);
  color:hsl(253,30%,0%);
  height:100vh;
}

form{
  width:60vh;
  max-width:500px;
  min-width:300px;
  margin:0 auto;
  padding-bottom:2em;
}

fieldset{
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 10 0;
  width: 100%;
  min-height: 2em;
}
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: grey;
  border-color: white;
  min-width: 300px;
}

input[type="submit"]:hover{
  color:yellow;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
